body {
  padding:0;
  margin:0;
}

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  outline:0;
}

h2, h3, h4, h5, h6{
  margin:0;
}

.container {
  width:90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction:column;
}

.flex.justify-center{
  justify-content: center;
}

.flex.justify-end{
  justify-content: flex-end;
}

.flex.align-center{
  align-items: center;
}

.flex.align-start{
  align-items: flex-start;
}

.btn{
  border:none;
  border-radius: 60px;
  font-size:14px;
  font-weight: bold;
  padding:16px 50px;
  transition: background-color .2s;
}

.btn.purple{
  background-color: #8824CD;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .2);
  color:white;
}

.btn:hover{
  background-color: #9126d9;
  cursor:pointer;
}

/* NAVBAR */

#navbar{
  height:60px;
  width: 100%;
  position:fixed;
  background-color:#661b98;
  z-index:2000;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  overflow:hidden;
  transition:height 1s ease-in-out;
  box-shadow:inset 0 2px 0 rgba(255, 255, 255, .1), inset 0 -2px 0 rgba(0, 0, 0, .1);
}

#navbar .burger-button{
  order: 2;
  border-radius:50%;
  height:40px;
  width:40px;
  text-align:center;
  line-height: 40px;
  margin:10px 10px 10px auto;
  transition: background-color .5s;
}

#navbar .burger-button:hover{
  cursor:pointer;
}

#navbar .burger-button.active{
  background-color:rgba(255, 255, 255, .1);
}

#navbar .burger-button i{
  vertical-align: middle;
  font-size:24px;
  margin-bottom:3px;
  color:#49136c;
}

#navbar #logo{
  order:1;
  margin:0 10px 0;
}

#navbar #logo img{
  display:block;
  margin-top:5px;
}

#navbar #collapse {
  width:100%;
  order:3;
}

#navbar #collapse ul{
  list-style: none;
  margin:0;
  padding:0;
}

#navbar #collapse ul li{
  display:block;
  width:100%;
  height:60px;
  line-height:60px;
  padding: 0 10px;
  border-top:1px solid #571782;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .1), inset -1px 0 rgba(0, 0, 0, .1);
}

#navbar #collapse ul li:last-of-type{
  border-bottom:1px solid #571782;
}

#navbar #collapse ul li:hover{
  cursor:pointer;
  background-color:#741fad;
}

#navbar #collapse ul li a{
  text-decoration: none;
  color:white;
}

/* MAIN */

#main {
  background-image: url('./img/background.png');
  background-position: center bottom;
  background-size:cover;
  color:white;
  height: 100vh;
  width:100%;
}

#main h1{
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

#main span{
  display:block;
  font-size:10px;
  margin-top:10px;
}

/* FEATURES */

#features {
  background-color: #2E3B4E;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2);
  color:white;
  min-height:50vh;
  padding: 7vh 0;
  position:relative;
  width:100%;
}

#features h3{
  font-size:16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom:3vh;
}

#features p{
  font-size:14px;
  text-align: justify;
  margin:0;
}

#features .grid {
  margin:0 auto;
  display:grid;
  width:90%;
  grid-row-gap:20px;

}

#tab{
  background-image: url('./img/tab.png');
  background-position: center;
  background-repeat: no-repeat;
  height:72px;
  bottom: -35px;
  position:absolute;
  width: 100%;
}

/* PINK */

#pink {
  background-image: url('./img/backgroundpink.png');
  background-size:cover;
  background-position:bottom center;
  color:white;
  min-height: 50vh;
  padding:20vh 0;
  text-align: center;
}

#pink h2{
  font-weight: lighter;
  font-size:30px;
}

#pink p{
  font-size:14px;
  margin-bottom:5vh;
  text-align: justify;
}

#pink .btn{
  background-color: #fff;
  box-shadow:none;
  color: #D54C63;
  transition: box-shadow .2s;
  padding:16px 80px;
}

#pink .btn:hover{
  box-shadow: 0 0 5px #fff;
}

/* ABOUT */

.about{
  color:#3A4D60;
  min-height: 50vh;
  display:grid;
}

.about .text{
  padding:10vh 5%;
}

.about h3{
  font-size:18px;
  text-transform: uppercase;
}

.about p{
  font-size:14px;
  text-align: justify;
  margin:2vh 0;
}

.about .highlight {
  font-size:16px;
}

.about .image{
  background-position: center;
  background-size:cover;
  height:100%;
  width:100%;
  display:none;
}

.about .image:first-of-type{
  background-image: url('./img/image1.png');
}

.about .image:nth-of-type(2){
  background-image: url('./img/image2.png');
}

/* PURPLE */

#purple{
  background-image:url('./img/backgroundpurple.png');
  background-size:cover;
  background-position: center center;
  color:white;
  min-height: 60vh;
  padding:20vh 0 15vh 0;
  text-align: center;
}

#purple h2{
  font-weight: lighter;
  font-size:30px;
  text-align: center;
}

#purple p{
  color:#A87BB7;
  font-size:14px;
  text-align: justify;
  margin:5vh 0;
}

#purple span{
  display:block;
  font-size:10px;
  margin-top:1vh;
}


/* ARTICLE */
#article{
  background-image: url('./img/backgroundabout.png');
  background-size:cover;
  background-position:bottom left;
  color:white;
  min-height: 85vh;
  padding:10vh 0;
}

#article span:first-of-type{
  border:2px solid white;
  border-radius:20px;
  display: inline-block;
  font-size:14px;
  padding:5px 20px;
}

#article h2{
  display: block;
  font-weight:normal;
  font-size:22px;
  margin:3vh 0;
}

#article span:nth-of-type(2){
  font-size:14px;
  width: 100%;
}

#article span:nth-of-type(2) img{
  border-radius:50%;
  height:48px;
  margin-right:10px;
  object-fit: cover;
  object-position: center;
  text-align:center;
  vertical-align: middle;
  width:48px;
}

/* CONTACT */

#contact{
  background-color:#E7526B;
  color:white;
  min-height: 50vh;
  padding:10vh 0;
}

#contact h3{
  font-size:16px;
  text-transform: uppercase;
}

#contact p{
  font-size:14px;
  text-align: justify;
}

#contact span{
  font-size:14px;
  text-decoration: underline;
}

footer{
  background-color: #2E3B4E;
  color:white;
  min-height:25vh;
  padding:5vh 0;
  font-size:12px;
}

@media screen and (max-height: 499px) {

  #features{
    padding:37px 0;
  }
}

@media screen and (min-width: 576px) {
  
  #features .grid{
    width: 80%;
  }

  .btn{
    font-size:16px;
  }

  #main h1{
    font-size:34px;
  }

  #pink .container{
    width:60%;
  }

  #pink p{
    text-align:center;
  }

  #purple{
    padding:14vh 0 10vh 0;
  }

  #purple p{
    text-align: center;
  }

}

@media screen and (min-width:768px){

  #pink h2{
    font-size:34px;
  }

  #purple h2{
    font-size:34px;
  }

}

@media screen and (min-width: 920px){
  
  #main .container{
    width:80%;
  }

  #main #text{
    width:520px;
    align-items: flex-end;
  }

  #main span{
    margin-right:25px;
  }

  #main h1{
    font-size:46px;
    text-align:right;
  }

  #features {
    padding:10vh 0;
  }

  #features .grid{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
  }

  #features h3{
    text-align:left;
  }

  #pink .container{
    width:520px;
  }

  .about{
    grid-template-columns: 30% repeat(4, 10%) 30%;
  }

  .about .image{
    display: block;
    grid-column:span 2;
  }

  .about .text{
    grid-column:span 4;
    padding:10vh 20px;
  }

  #article h2{
    font-size:34px;
  }
}

@media screen and (min-height: 900px){
  
  #features{
    min-height:25vh;
    padding:4vh 0;
  }

  #features h3{
    margin-bottom:1vh;
  }

  #pink{
    min-height: 25vh;
    padding:10vh 0;
  }

  #pink p{
    margin-bottom: 2vh;
  }

  .about{
    min-height: 25vh;
  }

  .about .text{
    padding:5vh 5%;
  }

  #purple {
    min-height: 40vh;
    padding:12vh 0 6vh 0;
  }

  #purple p{
    margin:2vh 0;
  }

  #article {
    min-height:60vh;
    padding: 5vh 0;
  }

  #article h2{
    margin:1vh 0;
  }

  #contact {
    min-height: 25vh;
    padding:5vh 0;
  }

  footer{
    min-height:16vh;
    padding:4vh 0;
  }
}