body {
  padding:0;
  margin:0;
}

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  outline:0;
}

h2, h3, h4, h5, h6{
  margin:0;
}

.container {
  width:90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction:column;
}

.flex.justify-center{
  justify-content: center;
}

.flex.justify-end{
  justify-content: flex-end;
}

.flex.align-center{
  align-items: center;
}

.btn{
  border:none;
  border-radius: 60px;
  font-size:14px;
  font-weight: bold;
  padding:16px 40px;
  transition: background-color .2s;
}

.btn.purple{
  background-color: #8824CD;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .2);
  color:white;
}

.btn:hover{
  background-color: #9126d9;
  cursor:pointer;
}

#main {
  background-image: url('./img/background.png');
  background-position: center bottom;
  background-size:cover;
  color:white;
  height: 100vh;
  width:100%;
}

#main h1{
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

#main span{
  display:block;
  font-size:10px;
  margin-top:10px;
}

#masterhead {
  background-color: #2E3B4E;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2);
  color:white;
  min-height:50vh;
  padding: 5% 0;
  position:relative;
  width:100%;
}

#masterhead .grid-item{
  margin:5% 0;
}

#masterhead h3{
  text-align: center;
  text-transform: uppercase;
}

#masterhead p{
  font-size:14px;
  margin:2% 0;
  text-align: justify;
}

.grid {
  margin:0 auto;
  display:grid;
  width:90%;

}

#tab{
  background-image: url('./img/tab.png');
  background-position: center;
  background-repeat: no-repeat;
  height:72px;
  bottom: -35px;
  position:absolute;
  width: 100%;
}

#pink {
  background-image: url('./img/backgroundpink.png');
  background-size:cover;
  background-position:bottom center;
  color:white;
  min-height: 50vh;
  padding:20vh 0;
  text-align: center;
}

#pink .container{
}

#pink h2{
  font-weight: lighter;
  font-size:30px;
}

#pink p{
  font-size:14px;
  margin-bottom:10%;
  text-align: justify;
}

#pink .btn{
  background-color: #fff;
  box-shadow:none;
  color: #D54C63;
  transition: box-shadow .2s;
}

#pink .btn:hover{
  box-shadow: 0 0 5px #fff;
}

.about{
  color:#3A4D60;
  min-height: 50vh;
  padding:10vh 0;
}

.about h3{
  font-size:18px;
  text-transform: uppercase;
}

.about p{
  font-size:14px;
  text-align: justify;
  margin:5vh 0;
}

.about .highlight {
  font-size:16px;
}

#purple{
  background-image:url('./img/backgroundpurple.png');
  background-size:cover;
  background-position: center center;
  color:white;
  min-height: 50vh;
  padding:25vh 0;
  text-align: center;
}

#purple h2{
  font-weight: lighter;
  font-size:30px;
  text-align: center;
}

#purple p{
  color:#A87BB7;
  font-size:14px;
  text-align: justify;
  margin:5vh 0;
}

#purple span{
  display:block;
  font-size:10px;
  margin-top:1vh;
}

#about2{
  background-image: url('./img/backgroundabout.png');
  background-size:cover;
  background-position:bottom left;
  color:white;
  min-height: 75vh;
  padding:10% 0;
}

#about2 span:first-of-type{
  border:2px solid white;
  border-radius:20px;
  display: inline-block;
  font-size:14px;
  padding:5px 20px;
}

#about2 h2{
  display: block;
  font-weight:normal;
  font-size:22px;
  margin:5% 0;
}

#about2 span:nth-of-type(2){
  font-size:14px;
  width: 100%;
}

#about2 span:nth-of-type(2) img{
  border-radius:50%;
  height:48px;
  margin-right:2%;
  object-fit: cover;
  object-position: center;
  text-align:center;
  vertical-align: middle;
  width:48px;
}

#pink2{
  background-color:#E7526B;
  color:white;
  min-height: 50vh;
  padding:10vh 0;
}

#pink2 h3{
  font-size:16px;
  text-transform: uppercase;
}

#pink2 p{
  font-size:14px;
  text-align: justify;
}

#pink2 span{
  font-size:14px;
  text-decoration: underline;
}

footer{
  background-color: #2E3B4E;
  color:white;
  min-height:25vh;
  padding:5vh 0 15vh 0;
  font-size:12px;
}